@model Domain.Dialogo

@{
    ViewBag.Title = "Dialogo";
}


<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="page-header"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">

                        <span class="glyphicon glyphicon-chevron-down"></span>

                    </div>
                </div>
                <div class="panel-collapse in">
                    <div class="panel-body">
                        <ul id="chatList" class="chat">
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" maxlength="1000" type="text" class="form-control input-sm" placeholder="Ingrese su mensaje aqui... (max: 1000 caracteres)" />
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-sm" id="btn-chat" onclick="sendMessage()">
                                    Send
                                </button>
                                <button class="btn btn-warning btn-sm" id="btn-resolve">
                                    Resolver
                                </button>

                            </span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    var interval = 10000;
    var redirect = 600000;

    setInterval(function () { Update() }, interval);
    setInterval(function () { RedirectToTasks() }, redirect);


    //Envia pericion a gateway para enviar whatsapp por chatapi
    function sendMessage() {
        var message = $("#btn-input").val();
        //console.log(message);
        if (message === undefined ||
            message === "" ||
            message.length > 1000 ||
            message.length === 0) {
            console.error("mensaje no enviado");
            return false;
        }

        var req = { message: message, token: "laabuelacoca", phone: '@Model.Cliente.ChatId' };
        console.log("Enviando whatsapp..." + req);



        var urlApi = '@ViewBag.Api' + '/sendText';

        fetch(urlApi, {
            method: 'POST',
            body: JSON.stringify(req),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => { if (res.ok) saveMessageInDataBase(); });


    }


    function saveMessageInDataBase() {
        var message = $("#btn-input").val();

        var data = {
            Texto: message,
            FechaCreacion: new Date(),
                Cliente: {
                    ID: '@Model.Cliente.ID',
                    BotActivo: false,
                    ChatId: '@Model.Cliente.ChatId'
                },
                Usuario: {
                    ID: '@Model.Usuario.ID',
                    Nombre: '@Model.Usuario.Nombre'
                },
            OrigenEmisor: 0
        };
        //console.log("Gradando en BD:");
        //console.log(JSON.stringify(data));
        $.ajax({

            url: "@ViewBag.Url" + "/api/dialogos/recibir-mensaje",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(data) {
                Update();
            },
        error: function (error) {
            console.log("Error:");
            console.log(error);
        }
        });
        $("#btn-input").val("");
    }



    //Renderiza los mensajes guardados en base de datos
    function renderClient(data) {
        //console.log(data);
        var ret = "";
        for (var i = 0; i < data.Mensajes.length; i++) {

            if (data.Mensajes[i].OrigenEmisor === 0) {
                ret += '<li class="left clearfix"> <span class="chat-img pull-left"><img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />'
                    +'</span><div class="chat-body clearfix"> <div class="header"> <small class=" text-muted"><span class="glyphicon glyphicon-time"></span></small>'
                    +'<strong class="pull-left primary-font"> ' + data.Usuario.Nombre + '</strong> </div> <p>' + data.Mensajes[i].Texto
                    +'</p></div></li>';
            } else {
                ret += '<li class="right clearfix"> <span class="chat-img pull-right"> <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />'
                    +'</span><div class="chat-body clearfix"> <div class="header"> <small class=" text-muted"><span class="glyphicon glyphicon-time"></span></small>'
                    +'<strong class="pull-right primary-front">' + data.Cliente.ChatId +'</strong> </div> <p>' + data.Mensajes[i].Texto
                    +'</p></div></li>';
            }

        }
        return ret;
    }



    function Update(usuario) {
          var dialogoId = '@Model.ID';
        //var usuario = 'Model.Usuario.Nombre';
        $.ajax({
            url: "http://gbanchero12-001-site1.gtempurl.com/api/dialogos/buscar-dialogo?idDialogo=" + dialogoId,
                    success: function(data) {
                        console.log(data);
                        $("#chatList").html("");
                        $("#chatList").html(renderClient(data));
                },
            error: function (error) {
                console.log("Error:");
                console.log(error);
            }
        });
    }



    function RedirectToTasks() {
        window.location.replace("http://gbanchero12-001-site1.gtempurl.com/DialogosView/Index");
    }
</script>


